html {
	font-family: 'CarlitoRegular';
	width: 100%;
	height: 100%;
    font-size: 1.6vw;
}

header img {
	width: 100%;
}

body {
	background-color: white;
}

body h1 {
	text-align: center;
	color: #f06601;
}

#corps {
	background-color: lightgrey;
}

#text {
	padding-left: 10%;
	width: 80%;
}

#formulaire {
	display: flex;
	flex-direction: column;
}

#sexe {
	display: flex;
	flex-direction: row;
}

#inscrirepart {
	background-color: #3cc35a;
	width: 30%;
	height: 30px;
	margin: 5%;
	text-align: center;
}

#inscrirepro {
	background-color: #f06601;
	width: 30%;
	height: 30px;
	margin: 5%;
	text-align: center;
}

#corpsinscrire {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#corpsinscrire a {
	font-size: 2vw;
}
section {
	display: flex;
	flex-direction: row;
}
h2 {
	top: 30%;
	left: 43%;
	color: #f06601;
}

.image_agence {
	width: 50%;
	height: 50%;
}
