
.reference_produit {
	display: flex;
	color: #04B404;
}

.nomprod {
	display: flex;
	font-size: 36px;
	color: #ea3200;
	margin: 0px;
}

.ref {
	display: flex;
	margin-top: 0px;
}

.puissance {
	display: flex;
	margin-top: 0px;
	color: #919191;
}

#cache {display:none}

#prodimg img {
	display:flex;
	width:400px;
	height:325px;
	border:2px;
	border-style:solid ;
	border-color:lightgrey;
	margin-top: 2px;
	margin-left: 70px;
	float: left;
}

#prodimg img:hover {
	width:500px;
	height:400px;
}

#info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 600px;
	margin-bottom: 25px;
	font-size: 18px;
 }

.price {
	font-family: arial black;
	font-size: 46px;
	margin-top: 10px;
	margin-left: 765px;
	color: #ea3200;
	display: flex;
}

.ttc {
	display:flex;
	font-family: arial black;
	font-size: 16px;
	margin: 8px;
}

.addtocart {
	display: flex;
	margin-left: 1200px;
	margin-top: -70px;
 }

.image_panier span {
    visibility: hidden;
}

.image_panier img:hover + span {
    visibility: visible;
}

#selectquantity {
	display: flex;
	margin-left: 900px;
	font-family: arial;
	font-size: 22px;
	color: black;
	margin-top: -45px;
 }

.select-quantite {
	border: solid 3x;
	margin-left: 12px;
 }

#stock {
	border: solid 3px;
	margin-left: 12px;
}

#characteristics {
	margin-left: 600px;
	display: flex;
	margin-top: 50px;
 }

.titre_tech {
	display: flex;
	font-size: 36px;
	color: #ea3200;
	margin: 0px;
	padding-bottom: 25px;
	margin-bottom: 0px;
	background-color: white;
}

.ligne {
	background-color: lightgrey;
	padding: 15px;
	font-size: 18px;
 }

.int_ligne {
	padding: 15px;
}

.int_ligne2 {
	padding: 15px;
	text-align: right;
}

.mention {
	padding: 10px;
}

.simular-products {
	margin-left: 600px;
	display: flex;
	font-size: 36px;
	color: #ea3200;
}

.rel-product {
	height: 50%;
	background-color: lightgrey;
}

.imagesimilar {
	width: 200px;
	height: 200px;
	padding: 2px;
	display: flex;
	align-items: center;

}

.pricesimilar{
	font-size: 22px;
	font-family: arial black;
	color:  #ea3200;
	text-align: center;
}

 .ttc2 {
	font-family: arial black;
	font-size: 10px;
	color:  #ea3200;
}

.similarnom {
	font-size: 15px;
  font-weight: bold;
}

.bouton_panier {
	display: flex;
}

#Slider {
  display: flex;
 }


@media (max-width: 767px) {
  #Slider {
    border-color: transparent;
  }
}

#Slider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 767px) {
  #Slider .MS-content {
    margin: 0;
  }
 }

#Slider .MS-content .item {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  border-right: none;
  width: 20%;
}

@media (max-width: 1200px) {
  #Slider .MS-content .item {
    width: 25%;
  }
}

@media (max-width: 992px) {
  #Slider .MS-content .item {
    width: 33.3333%;
}

}
@media (max-width: 767px) {
  #Slider .MS-content .item {
    width: 50%;
}

}
#Slider .MS-content .item p {
  font-size: 0px;
  line-height: 2;
  margin: 0;
  padding: 10px;
}

#Slider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 40px;
  outline: 0;
  top: 85px;
  color: white;
}

@media (max-width: 767px) {
  #Slider .MS-controls button {
    display: none;
  }

}
#Slider .MS-controls button:hover {
  cursor: pointer;
}

#Slider .MS-controls .MS-left {
  left: 0px;
}

@media (max-width: 992px) {
  #Slider .MS-controls .MS-left {
    left: -2px;
  }
}

#Slider .MS-controls .MS-right {
  right: 0px;
}

@media (max-width: 992px) {
  #Slider .MS-controls .MS-right {
    right: -2px;
  }
}
