<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>nos engagements</title>

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
  <link rel="stylesheet" href="/css/stylepopup.css"/>
  <style type="text/css">
  .text_engage{
    font-size: 1.4em;
    font-style: justify;

  }

  </style>
</head>

<body>
  <header>
    <img src="/images/bannierepopup.png">
  </header>
  <div id="corps">
    <img src="/images/LogoBitmap.png" width="15%" height="15%" style="margin: 2%;"/>
    <h1> Locafox, c'est plus que de la location !</h1>
    <div id="text">
      <p class="text_engage">
        Pionnier de la location, <b>Locafox</b> a toujours su anticiper, innover et accompagner ses clients, qu'ils soient professionnels de la construction, de l'industrie ou des métiers de service.
        <br>
        <br>
        Son parc de matériels composé de plus de 300.000 machines est le premier d’Europe. Il lui permet de répondre à tous les besoins et de satisfaire aux demandes les plus spécifiques de ses clients. Du petit outillage (ponceuse, matériel électroportatif, échafaudage, chauffage, déshumidificateur, caméra thermique,...) aux matériels de professionnels (pelles, compresseurs, matériel de compactage, nacelles, camions bennes, groupes électrogènes, modules,…), Loxam couvre tous les besoins. Des services associés sont également proposées comme la vente d'outillage et de consommables, le transport des matériels et l’assurance.
        <br>
        <br>
        La qualité et l'environnement sont aussi au cœur des préoccupations du Groupe. Une implication pérenne reconnue puisque Loxam a été le premier loueur de matériel au monde à obtenir le niveau 3 de la norme 26000 pour sa politique RSE, détenant par ailleurs les certifications ISO 9001 et 14001.
        <br>
        Être une entreprise considérée comme socialement responsable, c’est agir en conformité avec les attentes de la société. Aussi, l’ambition du Groupe ne s’arrête pas à limiter les impacts de son activité sur l’environnement. Locafox a toujours eu à cœur d’intégrer volontairement les enjeux de sécurité comme sociaux dans ses actions quotidiennes et dans ses relations avec les parties prenantes internes comme externes. L’implication des équipes autour des valeurs de l’entreprise tient une part importante dans la réussite de cet engagement.
        <br>
        La location chez Locafox, c’est donc un métier de service qui repose sur les qualités humaines et professionnelles de l’ensemble des collaborateurs et sur le relationnel que le Groupe entretient avec ses clients depuis plus de 30 000 ans.
        <br>
        <br>

        Contacter Locafox<br>
        0800 20 40 80
      </p>

    </div>
  </div>
</body>

</html>
