<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8" />
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
			<link rel="stylesheet" href="styleproduit.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

				<title>fiche_produit_1</title>

</head>

<body>

<header>

	<nav id="breadcrumb">

		<a class="lien1" href="index.html"> Accueil </a> >
			<a class="lien2" href=""> Confort du Chantier </a> >
				<a class="lien3" href="#"> Chauffage & Climatisation </a> >
					<span class="reference_produit"> Chauffage mobile 40m3</span>

	</nav>

</header>

	<section class="image-gallery">

		<article id= "prodimg">
			<div>
				<p>
					<img src="images/IS07-001.png"/>
			</div>
				<div id="info">
					<h2 class="nomprod">Chauffage mobile 40m3</h2>
						<h5 class="ref">reference-produit: IS07-001</h5>
							<h3 class="puissance">2 600 W - 40 m³</h3>
								<span>Description du produit: Climatiseur mobile permettant de refroidir, ventiler ou déshumidifier un espace de 40 m³ (puissance de 2,6 kW).<br>
										L'air chaud est évacué par une gaine placée dans l'entrebâillement d'une porte ou d'une fenêtre.
											<a href="#nogo" onclick="document.getElementById('cache').style.display = 'block'; this.style.display = 'none';">..Lire la suite</a>
												<div id="cache">
													Compact et équipé de roulettes, le climatiseur se transporte facilement de pièces en pièces.<br>
													La régulation de la température de l'air est effectuée par une consigne au degré près.</span>
												</div>
			</div>
				</p>
		</article>

	</section>

		<section id="selection">

			<article>
				<div class="price">44.66 &euro;<span class="ttc">*TTC/jour</span></div>
					<div>
						<p class="image_panier">
							<a href="#" class="addtocart">
								<img src="images/icone_panier_114.png" alt="Ajouter au Panier"/>
									<span>Ajouter au Panier</span>
							</a>
						</p>
					</div>
			</article>
				<article>
					<div id="selectquantity">
							<label for="quantity" ><span class="titre_qte">Quantité</span></label>
								<select name="quantity" autocomplete="off" id="stock" tabindex="-1" class="select-quantite">
									<option value="1" selected="">1</option>
										<option value="2">2</option>
											<option value="3">3</option>
												<option value="4">4</option>
													<option value="5">5</option>
														<option value="6">6</option>
															<option value="7">7</option>
																<option value="8">8</option>
																	<option value="9">9</option>
																		<option value="10">10</option>
																			<option value="11">11</option>
																				<option value="12">12</option>
																					<option value="13">13</option>
																						<option value="14">14</option>
																							<option value="15">15</option>
																								<option value="16">16</option>
																									<option value="17">17</option>
																										<option value="18">18</option>
																											<option value="19">19</option>
																												<option value="20">20</option>
																													<option value="21">21</option>
																														<option value="22">22</option>
																															<option value="23">23</option>
																																<option value="24">24</option>
																																	<option value="25">25</option>
																																		<option value="26">26</option>
																																			<option value="27">27</option>
																																				<option value="28">28</option>
																																					<option value="29">29</option>
																																						<option value="30">30</option>
								</select>
					</div>
				</article>
					<article>
						<div id="characteristics">
							<table>

								<thead colspan="2">
									<tr>
										<th class= "titre_tech" >Caractéristiques Techniques</th>
									</tr>
								</thead>

									<tbody class= "ligne" >
										<tr >
											<td class="int_ligne" >Volume d'air traité : </td><td class="int_ligne2">40m3</td>
										</tr>
											<tr>
												<td class="int_ligne">Puissance frigorifique :</td><td  class="int_ligne2">2.6 kw</td>
											</tr>
												<tr>
													<td class="int_ligne">Débit d'air : </td><td class="int_ligne2">de 180 m³/h à 250 m³/h</td>
												</tr>
													<tr>
														<td class="int_ligne">Énergie :</td><td  class="int_ligne2">Electrique</td>
													</tr>
														<tr>
															<td class="int_ligne">Poids :</td><td  class="int_ligne2">27 kg</td>
														</tr>
															<tr>
																<td class="int_ligne">Puissance absorbée :</td><td class="int_ligne2">1.01 kw</td>
															</tr>
																<tr>
																	<td class="int_ligne">Tension d'alimentation :</td><td class="int_ligne2">230 V </td>
																</tr>
									</tbody>

										<tfoot colspan="2">
											<tr>
												<td class="mention" colspan="2">*Caractéristiques techniques variables selon les modèles</td>
											</tr>
										</tfoot>

							</table>
						</div>
					</article>

	</section>
<br>
<br>

<aside>
<h2 class="simular-products">Produits Similaires</h2>

<article class="rel-product">
    <div id="Slider">
       <div class="MS-content" align="center">
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-002.jpg"><br>
                  <span class="pricesimilar">188.00 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                   <span align="center" class="similarnom">Climatiseur 150m3/h</span><br>
                   <input type="image" src="images/icone_detour_panier_86.png" name="Submit" value="Ajouter au Panier"
                          onMouseOver="this.src='images/icone_detour_panier_86_dark.png'"
                              onMouseOut="this.src='images/icone_detour_panier_86.png'"
                                  onMouseDown="this.src='images/icone_detour_panier_86.png'"
                                                                onClick="clickit(this);"
                    >

                            function clickit(element)
                    {
                        var x = document.getElementById("storage");
                          x.innerHTML="<b>Ajouter</b>";
                            setTimeout(function() { x.innerHTML="";}, 2000);
                    }

                </p>
           </div>
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-003.jpg"><br>
                 <span class="pricesimilar">76.18 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                 <span align="center" class="similarnom">Chauffage Fioul 2500m3/h</span><br>
                 <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
                </p>
           </div>
           <div class="item">
                 <p>
                  <img class="imagesimilar" src= "images/IS07-004.jpg"><br>
                  <span class="pricesimilar">96.22 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Chauffage Fioul 3500m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
                </p>
           </div>
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-005.jpg"><br>
                  <span class="pricesimilar">71.86 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Chauffage Electrique 2500m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png"  align="center" alt="Ajouter au Panier"/></a></span>
                </p>
           </div>
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-006.jpg"><br>
                  <span class="pricesimilar">41.63 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Chauffage Electrique 550m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
                </p>
           </div>
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-007.jpg"><br>
                  <span class="pricesimilar">23.00 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Chauffage Electrique 1000m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
                </p>
           </div>
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-002.jpg"><br>
                  <span class="pricesimilar">188.00 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Climatiseur 150m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
                </p>
          </div>
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-003.jpg"><br>
                  <span class="pricesimilar">76.18 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Chauffage Fioul 2500m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
               </p>
           </div>
           <div class="item">
               <p>
                  <img class="imagesimilar" src= "images/IS07-004.jpg"><br>
                  <span class="pricesimilar">96.22 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Chauffage Fioul 3500m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
              </p>
           </div>
           <div class="item">
                <p>
                  <img class="imagesimilar" src= "images/IS07-005.jpg"><br>
                  <span class="pricesimilar">71.86 &euro;</span><span class="ttc2">*TTC/jour</span><br>
                  <span align="center" class="similarnom">Chauffage Electrique 2500m3/h</span><br>
                  <span><a href="#"><img class="bouton_panier" src="images/icone_detour_panier_86.png" align="center" alt="Ajouter au Panier"/></a></span>
               </p>
           </div>
       </div>
       <div class="MS-controls">
           <button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
           <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>

       </div>
   </div>
</article>
</aside>
   <!-- Include jQuery -->
    <script src="js/jquery-2.2.4.min.js"></script>

    <!-- Include Multislider -->
    <script src="js/multislider.min.js"></script>

    <!-- Initialize element with Multislider -->
    <script>
    $('#Slider').multislider({
        interval: 8000,
        slideAll: true,
        duration: 3500
    });
    </script>
</body>

</html>
