<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8" />
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
			<link rel="stylesheet" href="/css/styleproduit.css" />


				<title>fiche_prod</title>

</head>

<body>

	<section >
		<article id="image-titre">
			<p>
				<img class="prodimg" src="images/CC01-001.jpg"/>
			</p>
					<div>
						<h2 class="nomprod">Chauffage mobile 40m3</h2>
							<h5 class="ref">référence-produit: CC01-001</h5>
								<div class="price">44.66 &euro;<span class="ttc">*TTC/jour</span></div>
									<div>
					 				<a href="#" class="addtocart">
											<img src="images/icone_detour_panier_86.png" alt="Ajouter au Panier"/>
										</a>
									</div>
											<div id="selectquantity">
													<label for="quantity" >Quantité</label>
															<select name="quantity" autocomplete="off" class="stock" tabindex="-1" class="select-quantite">
																<option value="1" selected="">1</option>
																	<option value="2">2</option>
																		<option value="3">3</option>
																			<option value="4">4</option>
																				<option value="5">5</option>
																					<option value="6">6</option>
																						<option value="7">7</option>
																							<option value="8">8</option>
																								<option value="9">9</option>
																									<option value="10">10</option>
																										<option value="11">11</option>
																											<option value="12">12</option>
																												<option value="13">13</option>
																													<option value="14">14</option>
																														<option value="15">15</option>
																															<option value="16">16</option>
																																<option value="17">17</option>
																																	<option value="18">18</option>
																																		<option value="19">19</option>
																																			<option value="20">20</option>
																																				<option value="21">21</option>
																																					<option value="22">22</option>
																																						<option value="23">23</option>
																																							<option value="24">24</option>
																																								<option value="25">25</option>
																																									<option value="26">26</option>
																																										<option value="27">27</option>
																																											<option value="28">28</option>
																																												<option value="29">29</option>
																																													<option value="30">30</option>
															</select>
					</div>
		</article>
		<article>
						<div id="descriptif">
							<p class="titre-descriptif">Description du produit :<p>
								<h4 class="puissance">2 600 W - 40 m³</h4>
									<div class="texte-prod">
										<span>Climatiseur mobile permettant de refroidir, ventiler ou déshumidifier un espace de 40 m³ (puissance de 2,6 kW).
												<a href="#nogo" style="text-decoration:none" onclick="document.getElementById('cache').style.display = 'block'; this.style.display = 'none';"><span class="lire">...Lire la suite</span></a>
													<div id="cache">
													L'air chaud est évacué par une gaine placée dans l'entrebâillement d'une porte ou d'une fenêtre.
													Compact et équipé de roulettes, le climatiseur se transporte facilement de pièces en pièces.
													La régulation de la température de l'air est effectuée par une consigne au degré près.</span>
													</div>
									</div>
						</div>
		</article>
<br>
	</section>
		<section>
			<article>
				<div id="characteristics">
					<p class= "titre_tech">Caractéristiques Techniques :</p>
					<table>
						<tr>
							<td class="int_ligne" >Volume d'air traité  </td><td class="int_ligne2">40m3</td>
						</tr>
						<tr>
							<td class="int_ligne">Puissance frigorifique </td><td  class="int_ligne2">2.6 kw</td>
						</tr>
						<tr>
							<td class="int_ligne">Débit d'air  </td><td class="int_ligne2">de 180 m³/h à 250 m³/h</td>
						</tr>
						<tr>
							<td class="int_ligne">Énergie </td><td  class="int_ligne2">Electrique</td>
						</tr>
						<tr>
							<td class="int_ligne">Poids </td><td  class="int_ligne2">27 kg</td>
						</tr>
						<tr>
							<td class="int_ligne">Puissance absorbée </td><td class="int_ligne2">1.01 kw</td>
						</tr>
						<tr>
							<td class="int_ligne">Tension d'alimentation </td><td class="int_ligne2">230 V </td>
						</tr>
						<tr>
							<td class="mention" colspan="2">*Caractéristiques techniques variables selon les modèles</td>
						</tr>
					</table>
				</div>
			</article>
	</section>
</body>

</html>
