<div id="footerbar">
  <a class="zoombox" href="/engagements.php">Nos engagements</a>
  <a class="zoombox" href="/contact.php">Contact</a>
  <a class="zoombox" href="/mentions.php">Mentions légales</a>
</div>
