<img src="/images/banniere.png">

<h1>{{ brand }}</h1>

<div id="menubar">
  <a>Accueil</a>
  <a class="zoombox" href="/societe.php">La société</a>
  <a class="zoombox" href="/agences.php">Nos agences</a>
  {% if session %}
  <a class="zoombox" href="/compte.php">Mon Compte</a>
  <a class="zoombox" href="/panier.php">Panier</a>
  {% else %}
  <a class="zoombox" href="/identifier.php">S'identifier</a>
  <a class="zoombox" href="/inscrire.php">S'inscrire</a>
  {% endif %}
</div>

<div id="slogan">
  <h2 class="louez">Louez Malin !</h2>
  {% if session %}
  Hello {{ session.NomClient }}!
  {% else %}
  <p><em>Location de matériel et d'outillage</em><br><em>pour professionnels et particuliers</em></p>
  {% endif %}
</div>
