<!DOCTYPE html>
<html>

  <head>
        <meta charset="utf-8">
        <title>LocaFox</title>
        <html>
            <head>
                <meta charset="utf-8">
                <title>La societe</title>

                <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
                <link rel="stylesheet" href="/css/stylepopup.css"/>
            </head>

    <body>
    <header>
        <h1>Êtes vous un...</h1>
    </header>
        <div id="corpsinscrire">
            <section id="inscrirepart">
                <a href="inscrirepart.php">Particulier</a>
            </section>
            <section id="inscrirepro">
                <a href="inscrirepro.php">Professionel</a>
            </section>
       </div>
    </body>

</html>
