<!DOCTYPE html>
<html>

  <head>
        <meta charset="utf-8">
        <title>LocaFox</title><!DOCTYPE html>
        <html>
            <head>
                <meta charset="utf-8">
                <title>La societe</title>
        
                <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
                <link rel="stylesheet" href="../css/stylepopup.css"/>
            </head>
        
    <body>
        <div>
            <section>
                <a href="inscrirepart.html">Particulier</a>
            </section>
            <section>
                <a href="inscrirepro.html">Professionel</a>
            </section>
       </div>
    </body>