<!DOCTYPE html>
<html>

  <head>
        <meta charset="utf-8">
        <title>LocaFox</title><!DOCTYPE html>
        <html>
            <head>
                <meta charset="utf-8">
                <title>La societe</title>
        
                <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
                <link rel="stylesheet" href="../css/stylepopup.css"/>
            </head>
        
    <body>
        <h1>Inscription</h1>
            <fieldset>
                <form method="POST" >
                    <label>Nom</label>
                    <input type="text"><br><br>

                    <label>Prénom</label>
                    <input type="text"><br><br>

                    <label>Sexe</label>
                    <input type="checkbox">Homme
                    <input type="checkbox">Femme<br><br>

                    <label>Adresse e-mail</label>
                    <input type="email"><br><br>

                    <label>Mot de passe</label>
                    <input type="password"><br><br>

                    <label>Confirmer mot de passe</label>
                    <input type="password" name="confirmPassword"><br><br>

                    <label>Téléphone</label>
                    <input type="tel"><br><br>

                    <label>Adresse</label>
                    <input type="text"><br><br>

                    <label>CP</label>
                    <input type="text"><br><br>

                    <label>Ville</label>
                    <input type="text"><br><br>

                    <input type="submit" value="valider">
                </form>
            </fieldset>
       </div>
    </body>
</html>