<div id="message">
  <span>Choisissez une catégorie et sélectionnez tout ce dont vous avez besoin !</span>
</div>

<ul id="menu-accordeon">

  {% for categorie in categories %}
  <li><a href="#">{{ categorie.NomCat }}</a>
    {% for sousCategorie in subCategories %}

      {% if sousCategorie.NumsousCat matches "/" ~ categorie.NumCat ~ "/" %}
      <ul>
        <li><a href="index.php?id={{sousCategorie.NumsousCat}}">{{ sousCategorie.NomsousCat }}</a></li>
      </ul>
      {% endif %}

    {% endfor %}
  </li>
  {% endfor %}

</ul>
