<div id="page_news">
  <div id="news_img">
    <span>
      <img class="agence_img" src="/images/agence.png"/>
    </span>
    <div id="news_agence">
      <span class="titre_news">
        <h2 >Venez découvrir votre nouvelle Agence LocaFox !</h2>
      </span>
      <div class="text_news">
        <p>
          C'est au coeur du centre-ville de Dunkerque que vous retrouverez notre nouvelle agence.
          Vous serez accueillis par des professionnels qualifiés qui vous conseilleront pour vos locations.<br> <b>Alors n’hésitez pas à questionnez nos collaborateurs.</b>
          <br>
          <br>
          <span><b> La Proximité avec nos clients est une de nos priorités :</b></span>
          <br>
          Cette nouvelle agence s’inscrit dans une politique que LocaFox  mène depuis plusieurs années maintenant.
          Grâce à cette nouvelle agence nous nous engageons à répondre à vos besoins au plus près de chez vous.
        </p>
      </div>
    </div>
    <br><br>
    <div id="map_adresse">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.9971060492835!2d2.3821952157526507!3d51.034674179560284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dc8c60d650f76f%3A0x95de0338073ebc7d!2sBoulevard+Sainte-Barbe%2C+Dunkerque!5e0!3m2!1sfr!2sfr!4v1551229073766" width="280" height="80" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p class="adresse">43 Boulevard Saint Barbe - Dunkerque 59140 cedex<br>Tel (+33)-03-28-69-21-44<br>www.locafox_dk.com<br><br>
        <BUTTON class="lien_agence" type="button">Voir les autres agences LocaFox</BUTTON>
      </p>
    </div>

  </div>

</div>
<br>

<script>
alert ("Attention! Ce site a été réalisé dans le cadre d'un projet d'étude au CNAM de Lille") ;
</script>
