<div class="news">
          <span >
            <img class="agence" src="/images/agence.jpg"/>
          </span>
          	<div>
          		<h2 class="titre-news">Venez découvrir notre nouvelle agence !</h2>
          			<p class="text-news">
            			C'est au coeur du centre-ville de Dunkerque que vous retrouverez notre nouvelle agence.<br>
            			Vous serez accueillis par des professionnels qualifiés qui vous conseilleront pour vos locations. Alors n’hésitez pas à questionnez nos collaborateurs. Cette nouvelle agence s’inscrit dans une politique que LocaFox  mène depuis plusieurs années maintenant.<br>
           				<span><b> La Proximité avec nos clients est une de nos priorités</b></span><br>
          				 Grâce à cette nouvelle agence nous nous engageons à répondre à vos besoins au plus près de chez vous.
          			</p>
          	</div>
       </div>
