<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>La societe</title>

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/carlito" type="text/css"/>
  <link rel="stylesheet" href="/css/stylepopup.css"/>
</head>

<body>
  <header>
    <img src="/images/bannierepopup.png">
  </header>
  <div id="corps">
    <h1>LocaFox</h1>
    <div id="text">
      En -30 000 avant JC, le premier renard de la planête créa LocaFox !<br>
      Il loua le premier silex à l'Homo-sapiens, la première roue à l'humanité,
      le plan des pyramides aux Egyptiens et même la recette de la potion magique à Panoramix !<br><br>
      Depuis, l'entreprise est devenue un incontournable de la location de matériel et d'outillage.
      Avec notre patte ancestrale, nous saurons répondre à toutes vos attentes pour vous permettre de réaliser facilement vos projets !
    </div>
  </div>
</body>

</html>
