<section id="selecteur">
		<article class="select_prod">
			<img class="image_prod" src= "/images/OU01-001.jpg"/> 

		</article>

		<article class="select_prod">
			<img class="image_prod" src= "/images/OU01-002.jpg"/>


		</article>

		<article class="select_prod">
      <img class="image_prod" src= "/images/OU01-003.jpg"/>
		</article>

		<article class="select_prod">
			<img class="image_prod" src= "/images/OU01-004.jpg"/>
		</article>

		<article class="select_prod">
			<img class="image_prod" src= "/images/OU01-005.jpg"/>
		</article>

		<article class="select_prod">
			<img class="image_prod" src= "/images/OU01-006.jpg"/>
		</article>

		<article class="select_prod">
			<img class="image_prod" src= "/images/OU01-007.jpg"/>
		</article>

		<article class="select_prod">
			<img class="image_prod" src= "/images/OU01-008.jpg"/>
		</article>

</section>
